.storage {
    &__list {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 80px;
    
        .item {
            margin: 10px;
        }
    }

    &__header {
        color: white;
    }
}